@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre");
@import url("https://fonts.googleapis.com/css?family=Bricolage+Grotesque");

@font-face {
    font-family: "Averia Serif Libre";
    src: url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre");
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("https://fonts.googleapis.com/css?family=Bricolage+Grotesque");
}
